.overall {
    color: white;
    width: 25px;
    text-align: center;
    position: relative;
    top: -32px;
}

.lower-than-99 {
    background-color: green !important;
}

.lower-than-81 {
    background-color: #9bbf30 !important;
}

.lower-than-71 {
    background-color: #ffc940 !important;
}

.lower-than-61 {
    background-color: #e77e23 !important;
}
