.overall {
    color: white;
    width: 25px;
    text-align: center;
    position: relative;
    top: -32px;
}

.lowerThen99 {
    background-color: green;
}

.lowerThen81 {
    background-color: #9bbf30;
}

.lowerThen71 {
    background-color: #ffc940;
}

.lowerThen61 {
    background-color: #e77e23;
}
