@font-face {
  font-family: prompt-regular;
  src: url(../fonts/Prompt/Prompt-Regular.ttf);
}

body {
    font-family: prompt-regular;
}

.main {
    display: flex;
    flex-direction: column;
}

.config {
    height: 240px;
    padding: 15px;
}

.config div {
    display: flex;
    padding-bottom: 15px;
    height: 25px;
}

.config div span {
    margin-right: 5px;

}

.post {
    display: flex;
    padding-left: 80px;
}

.field {
    background-image: url("campo-de-futebol.png");
    display: flex;
    justify-content: center;
    width: 500px;
    background-size:100% auto;
    height: 500px;
}

.goalkeeper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 388px auto auto auto;
    border-radius: 30px;
}

.player {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}


.player img {
    display: flex;
    width: 58px;
}

.name {
    justify-content: center;
    display: flex;
    font-size: 14px;
}

.overall {
    background: green;
    width: 45px !important;
    top: 0px !important;
    justify-content: center;
    display: flex;
}

.fifa-version {
    display: flex;
    background: white;
    width: -webkit-fill-available;
    justify-content: center;
}

.label {
    color: white;
    background: red;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.stats {
    position: absolute;
    font-size: 15px;
    color: white;
    height: fit-content;
    margin: 55px auto auto 420px;
    width: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stats div {
    display: flex;
    margin-bottom: 2px;
    align-items: baseline;
}

.stats label {
    min-width: 36px;
}

.stats-value {
    background-color: green;
    width: 100%;
    text-align: center;
    margin-left: 5px;
    justify-content: center;
    padding: 2px;
    min-width: 23px;
}

.logo {
    position: absolute;
    margin: 55px 0px 0px 14px;
}

.logo img {
    width: 70px;
}

.title {
    position: absolute;
    color: white;
    font-size: 26px;
    width: 500px;
    text-align: center;
    margin-top: 7px;
    font-weight: bold;
    background-color: #ef000a6b;
}

