@font-face {
  font-family: prompt-regular;
  src: url(../../fonts/Prompt/Prompt-Regular.ttf);
}

body {
    font-family: prompt-regular;
}

.chart {
    display: flex;
    height: 500px;
    width: 500px;
    flex-flow: column-reverse;
    background-color: rgba(35, 51, 124, 0.25);
    justify-content: space-evenly;
    padding-top: 20px;
}

.background-image {
    content: "";
    background: url("https://images.daznservices.com/di/library/omnisport/83/fd/iker-casillas-cropped_vl1g9vvanrh81m70ciokt200t.jpg?t=1198944658&quality=100");
    opacity: 0.3;
    top: -285px;
    left: -140.9px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 649px;
    height: 841px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 0px;
}

.bar {
    background-color: #23327d;
    display: flex;
    height: 26px;
}

.fifa-version {
    display: flex;
    flex-direction: column-reverse;
}

.fifa-version img {
    width: 78px;
    height: 26px;
}

.overall {
    justify-content: center;
    display: flex;
    height: 25px;
    font-size: 17px;
    align-items: center;
    top: 0px !important;
}


.team-logo img {
    width: 35px;
    height: 35px;
}

.bar-top {
    display: flex;
    flex-direction: column;
}

.tfs-logo {
    width: 35px;
    opacity: 0.7;
    display: flex;
    padding-left: 4px;
    left: 460px;
    top: 515px;
    position: absolute;
}

.title {
    font-size: 23px;
    font-weight: bold;
    color: white;
    left: 10px;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
    width: 498px;
    display: flex;
}

.title .text {
    display: flex;
    color: white;
    font-size: 21px;
    padding-left: 4px;
}

.title .player-name-text {
    background: #23337c;
    padding-left: 5px;
    display: flex;
}

.name {
    color: white;
    font-size: 22px;
}

.player {
    width: 10px;
}
